<footer class="ft1-main-footer" style="background-image:url(assets/images/background/pattern-5.png)">
  <div class="auto-container">
    <!-- Widgets Section -->
    <div class="widgets-section">
      <div class="row clearfix">
        
        <!-- Big Column -->
        <div class="big-column col-lg-6 col-md-12 col-sm-12">
          <div class="row clearfix">
            
            <!-- Footer Column -->
            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget logo-widget">
                <div class="logo">
                  <a href="index.html"><img src="assets/images/footer-logo.png" alt="" /></a>
                </div>
                <div class="text">In cases where the user has any Logistics sues, he/she in all cases must seek independent legal advice provider.</div>
                <!-- Social Box -->
                <ul class="social-box">
                  <li><a href="#" class="fab fa-facebook-f"></a></li>
                  <li><a href="#" class="fab fa-twitter"></a></li>
                  <li><a href="#" class="fab fa-dribbble"></a></li>
                  <li><a href="#" class="fab fa-behance"></a></li>
                </ul>
                <!-- End Social Box -->
              </div>
            </div>
            
            <!-- Footer Column -->
            <div class="footer-column col-lg-4 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <h5>Quick Links</h5>
                <ul class="list-link">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">faq</a></li>
                  <li><a href="#">team</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">testimonial</a></li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
        
        <!-- Big Column -->
        <div class="big-column col-lg-6 col-md-12 col-sm-12">
          <div class="row clearfix">
            
            <!-- Footer Column -->
            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget hours-widget">
                <h5>Working Hours</h5>
                <div class="text">Logistics sues, he/she in all cases must seek independent</div>
                <ul class="time-list">
                  <li>Monday-Friday : <span>9:00-19:00</span></li>
                  <li>Saturday: <span>9:00-13:00</span></li>
                  <li>Sunday & Holidays : <span>8:00-09:00</span></li>
                </ul>
              </div>
            </div>
            
            <!-- Footer Column -->
            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget newsletter-widget">
                <h5>Newsletter</h5>
                <div class="text">Subscribe our newsletter to get our latest update & news</div>
                
                <!-- Email Box -->
                <div class="email-box">
                  <form method="post" action="contact.html">
                    <div class="form-group">
                      <input type="email" name="search-field" value="" placeholder="Your mail address" required>
                      <button type="submit"><span class="icon fas fa-paper-plane"></span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="clearfix">
        <div class="pull-left">
          <div class="copyright">&copy; 2022 Fastrans- Logistics Services. All rights reserved.</div>
        </div>
        <div class="pull-right">
          <div class="copyright">Made by with <span class="icon fa fa-heart"></span> <a href="https://themeforest.net/user/themexriver">Themexriver</a></div>
        </div>
      </div>
    </div>
    
  </div>
</footer>