<!-- Main Header -->
<header class="ft1-main-header">
			
  <!-- Header Top -->
  <div class="ft1-header-top">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <!-- Top Left -->
        <div class="ft1-top-left pull-left">
          <ul class="top-list">
            <li><span class="icon flaticon-location"></span>121 WallStreet Street, NY York, USA</li>
            <li><span class="icon flaticon-email"></span><a href="mailto:fastrans@support.com">fastrans@support.com</a></li>
          </ul>
        </div>
        
        <!-- Top Right -->
        <div class="ft1-top-right pull-right">
          <div class="language dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="flag-icon"><img src="assets/images/icons/flag.png" alt="" /></span>ENG &nbsp;<span class="fa fa-angle-down"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">France</a></li>
            <li><a class="dropdown-item" href="#">Arabic</a></li>
            <li><a class="dropdown-item" href="#">Urdu</a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- Header Upper -->
  <div class="header-upper">
    <div class="auto-container">
      <div class="inner-container clearfix">
      
        <!-- Logo -->
        <div class="pull-left logo-box">
          <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
        </div>
      
        <div class="nav-outer clearfix">
          <!-- Mobile Navigation Toggler -->
          <div class="mobile-nav-toggler"><span class="icon"><img src="assets/images/icons/menu.png" alt="" /></span></div>
          <!-- Main Menu -->
          <nav class="main-menu navbar-expand-md">
            <div class="navbar-header">
              <!-- Toggle Button -->    	
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            
            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
              <ul class="navigation clearfix">
                <li class="current dropdown"><a href="#">Home</a>
                  <ul>
                    <li><a href="index-1.html">Home Page 1</a></li>
                    <li><a href="index-2.html">Home Page 2</a></li>
                    <li><a href="index-3.html">Home Page 3</a></li>
                    <li><a href="index-4.html">Home Page 4</a></li>
                    <li><a href="index-5.html">Home Page 5</a></li>
                    <li><a href="index-6.html">Home Page 6</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="dropdown"><a href="#">Services</a>
                  <ul>
                    <li><a href="service.html">Service Page</a></li>
                    <li><a href="service-single.html">Service Details</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Project</a>
                  <ul>
                    <li><a href="project.html">Projects</a></li>
                    <li><a href="project-single.html">Project Single</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">Pages</a>
                  <ul>
                    <li><a href="faq.html">Faq Page</a></li>
                    <li><a href="pricing.html">Pricing Page</a></li>
                    <li><a href="team.html">Team Page</a></li>
                    <li><a href="team-single.html">Team Details </a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#">News</a>
                  <ul>
                    <li><a href="blog.html">News </a></li>
                    <li><a href="blog-single.html">News Details</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact Page</a></li>
              </ul>
            </div>
          </nav>
          
          <!-- Main Menu End-->
          <div class="outer-box clearfix">
          
            <!-- Btn Box -->
            <div class="btn-box">
              <a href="#" class="theme-btn btn-style-one">Fee Quote <span class="icon fas fa-angle-double-right"></span></a>
            </div>
            
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <!--End Header Upper-->
  
  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="auto-container clearfix">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="index.html" title=""><img src="assets/images/logo-small.png" alt="" title=""></a>
      </div>
      <!--Right Col-->
      <div class="pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <!--Keep This Empty / Menu will come through Javascript-->
        </nav><!-- Main Menu End-->
        
        <!-- Main Menu End-->
        <div class="outer-box clearfix">
          
          <!-- Btn Box -->
          <div class="btn-box">
            <a href="#" class="theme-btn btn-style-one">Fee Quote <span class="icon fas fa-angle-double-right"></span></a>
          </div>
          
          <!-- Mobile Navigation Toggler -->
          <div class="mobile-nav-toggler"><span class="icon"><img src="assets/images/icons/menu.png" alt="" /></span></div>
          
        </div>
        
      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon fas fa-times"></span></div>
    
    <nav class="menu-box">
      <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
      <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
    </nav>
  </div><!-- End Mobile Menu -->

</header>
<!-- End Main Header -->